<template>
   <div>
      <b-card-body>
         <div class="mb-3" v-for="comment in currentPost.comments" :key="comment.id">
            <b-card-sub-title>{{comment.user.username}}</b-card-sub-title>
            <b-card-text>{{comment.content}}</b-card-text>
         </div>
         <b-card-text>
            <b-card-sub-title v-if="currentUser">
               <b-icon icon="person-fill"></b-icon>
                  {{currentUser.username}}
               <b-form-input v-model="text" placeholder="Escribe un comentario..."></b-form-input>
            </b-card-sub-title>
            <b-card-sub-title v-else>
               <b-icon icon="person-fill"></b-icon>
                  Nombre Usuario
               <b-form-input v-model="text" placeholder="Escribe un comentario..."></b-form-input>
            </b-card-sub-title>
         </b-card-text>
         <b-card-text>
            <b-button v-b-modal="'modal-1'" variant="outline-primary" block size="sm" @click="addComment()">Comentar</b-button>
         </b-card-text>
      </b-card-body>
      <b-modal v-model="modalShow" title="Anuncios" ok-only @ok="reloadPage">
            <p class="my-4">Su comentario fue agregado!</p>
      </b-modal>
   </div>
</template>

<script>
import axios from 'axios'
import router from '@/router';
export default {
   name: 'ShowComments',
   data(){
      const now = new Date()
      const todayy = new Date(now.getFullYear(), now.getMonth(), now.getDate())

      return {
         text: '',
         modalShow: false,
         form: {content: '', user_id: '', timestamp: ''},
         today: todayy
      }
   },

   methods: {
        async addComment(){
            // funcion que agrega un comentario en un post
            if (!this.currentUser){
            this.$router.push('/login');
            return
            }
            if (this.text == ''){
            return
            }
            this.modalShow = true;
            this.form.content = this.text;
            this.form.user_id = this.$store.state.auth.user.id;
            this.form.timestamp = this.today;
            let varToken = this.$store.state.auth.user.accessToken;
            let headers = {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + varToken
            }

            axios.post('http://104.248.117.251:8080/post/comments/' + this.currentPost._id, this.form, {
                headers: headers
            }).then(function(response){
                console.log(response);
            });
        },

        reloadPage(){
            window.location.href='/homecitizen'
        }
    },

   props: {
      currentPost: Array
   },

   computed: {
        currentUser() {
            return this.$store.state.auth.user;
        }
   }
}
</script>

